.header {
    margin-top: 3vw;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallTitle {
    position: absolute;
    top: 10%;
    font-size: 2vw;
}

.largeTitle {
    position: absolute;
    top: 12%;
    font-size: 5vw;
}

.headerImg {
    width: 100vw;
    height: 25vw;
    margin-top: 80px;
    object-fit: contain;
}