.singlepost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: contain;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
}

.singlePostEdit {
    float: right;
}

.singlePostEdit>i {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singlePostDescription {
    line-height: 25px;
}